h1{
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg');
    font-size:100px;
    font-weight: bold;
    color:khaki;
    text-align: center;
}

.Brushes h2{
    font-size:32px;
    font-weight: bold;
    color:white;
    background-color:mediumspringgreen;
}

.Frames h2{
    font-size:32px;
    font-weight: bold;
    color:white;
    background-color:lightcoral;
}

.Paint h2{
    font-size:32px;
    font-weight: bold;
    color:white;
    background-color:skyblue;
}

h1,h2,h3,p{
    font-family: Helvetica;
}

.price{
    font-weight: bold;
    color:blue;
}
