h1 {
    font-family: Verdana;
    font-weight: Normal;
    font-size: 50px;
    color:White;
    text-align:center;
}

h2{
    font-family: Verdana;
    color:white;
    font-size: 42px;
    text-align:center;
    font-weight: Normal;
}

p {
    color:gray;
    font-family: Verdana;
    text-align: center;
}

p a{
  color:aquamarine;
  font-size:16px;
}

video {
    display: block;
    margin: auto;
  }

.landspace {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

.icon_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.footer p{
    text-align: right;
    color:gray;
}
